body {
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    text-align: center;
    font: bold 40px sans-serif;
}

#buttons {
    margin-left: 50%;
}

#board {
    border:1px dashed #333;

}
